body {
    background-image: url('images/background.jpg');
    color: #abffa3;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #00000;
}
.f1{
    color: #ff0000;
}
.button {
    background-color: #1fb301;
    border: 2px solid #1fb301;
    color: white;
    padding:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}
div {
    padding-left: 20px;
    padding-right: 20px;
}